MCP_Agent.json
{
  "name": "MCP Agent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "bdeb4121-1294-4475-af77-dee53f04f75d",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "id": "c97e09ed-4019-48e1-a7cd-728a1db4d89a",
      "name": "Get Airbnb Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "IS7Fq1E6uKy4bbgf",
          "name": "Airbnb"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $json.tools[0].name }}",
        "toolParameters": "{\n  \"location\":\"mumbai\",\n  \"placeid\":\"ChIJ4x9c3l-c6YkR-6zI2I14-0A\"\n}"
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "6bfd97ea-6d7c-4160-99bf-e96c27a517d2",
      "name": "Execute Airbnb Tool",
      "credentials": {
        "mcpClientApi": {
          "id": "IS7Fq1E6uKy4bbgf",
          "name": "Airbnb"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        240,
        180
      ],
      "id": "81c6eb25-15c1-4ee2-94d1-f5f8cd8624d9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        200
      ],
      "id": "84e1f24d-67ee-433f-99b0-390f9f12c165",
      "name": "When chat message received",
      "webhookId": "8e8f2da5-2b6a-42fb-afd7-5e11c07b1b5b"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -440,
        460
      ],
      "id": "28488050-2487-494b-9bb7-de1fd07fa7b7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "1VMKjiSJqADW5yc4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI(\"tool\",\"the tool selected\") }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        140,
        460
      ],
      "id": "7fb2c672-09d4-4722-9ffc-27b7405bad2c",
      "name": "Brave Search Execute",
      "credentials": {
        "mcpClientApi": {
          "id": "vToBrIZATklnXVyj",
          "name": "Brave Search Execute tools"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI(\"tool\",\"the tool selected for use\") }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        440,
        460
      ],
      "id": "e7da4f28-9791-43d7-8d20-0df9fcb61794",
      "name": "FireCrawl Execute",
      "credentials": {
        "mcpClientApi": {
          "id": "vToBrIZATklnXVyj",
          "name": "Brave Search Execute tools"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        300,
        460
      ],
      "id": "b427c8b7-48b2-4418-be34-a28bc64794f1",
      "name": "FireCrawl Actions",
      "credentials": {
        "mcpClientApi": {
          "id": "mNUqQDRK2FwQblW7",
          "name": "FireCrawl MCP"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        -280,
        460
      ],
      "id": "513ca1b2-6152-4c60-b39c-eca063f64541",
      "name": "Airbnb Actions",
      "credentials": {
        "mcpClientApi": {
          "id": "IS7Fq1E6uKy4bbgf",
          "name": "Airbnb"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI(\"tool\",\"the tool selected\") }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        -160,
        460
      ],
      "id": "7529bf41-b624-4fb7-925d-810924d56dad",
      "name": "Airbnb Execute",
      "credentials": {
        "mcpClientApi": {
          "id": "IS7Fq1E6uKy4bbgf",
          "name": "Airbnb"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        20,
        460
      ],
      "id": "0df6a5a0-b736-426f-b12e-c46685d6c90b",
      "name": "Brave Search Actions",
      "credentials": {
        "mcpClientApi": {
          "id": "vToBrIZATklnXVyj",
          "name": "Brave Search Execute tools"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        640,
        460
      ],
      "id": "75888788-45a4-4214-ad83-f5676c8a731d",
      "name": "Github Actions",
      "credentials": {
        "mcpClientApi": {
          "id": "yDFenWkJMZqscIbN",
          "name": "Github MCP Tools"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI(\"tool\",\"the tool selected for use\") }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        760,
        460
      ],
      "id": "ea010802-1842-497e-8e32-4506d5f108a9",
      "name": "Github Execute",
      "credentials": {
        "mcpClientApi": {
          "id": "vToBrIZATklnXVyj",
          "name": "Brave Search Execute tools"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        940,
        460
      ],
      "id": "02dac5b3-9fcf-45d3-ac0c-271f9b7170a4",
      "name": "Slack Actions",
      "credentials": {
        "mcpClientApi": {
          "id": "5WpqK5PPC2ot9M7o",
          "name": "Slack MCP "
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI(\"tool\",\"the tool selected for use\") }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        1060,
        460
      ],
      "id": "dc279835-5a34-453f-a2fd-22cd846efb13",
      "name": "Slack Execute",
      "credentials": {
        "mcpClientApi": {
          "id": "5WpqK5PPC2ot9M7o",
          "name": "Slack MCP "
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get Airbnb Tools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Airbnb Tools": {
      "main": [
        [
          {
            "node": "Execute Airbnb Tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Airbnb Tool": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Brave Search Execute": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "FireCrawl Execute": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "FireCrawl Actions": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Airbnb Actions": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Airbnb Execute": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Brave Search Actions": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Github Actions": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Github Execute": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Slack Actions": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Slack Execute": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3bd17cd6-3942-4d72-a98d-327e5213269f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3f21aaf8491157c44331f10f943768229b6695aa90fd86fc40ddb60f0a283c31"
  },
  "id": "vKCtHi4dDdzkHTyN",
  "tags": [
    {
      "createdAt": "2025-06-05T06:58:59.412Z",
      "updatedAt": "2025-06-05T06:58:59.412Z",
      "id": "Ba1Vyb7BJb8L5WK7",
      "name": "ET"
    },
    {
      "createdAt": "2025-06-05T06:58:59.444Z",
      "updatedAt": "2025-06-05T06:58:59.444Z",
      "id": "IkoJWBxO2KOLpNNX",
      "name": "From POC sheet"
    },
    {
      "createdAt": "2025-10-27T08:56:35.862Z",
      "updatedAt": "2025-10-27T08:56:35.862Z",
      "id": "4VGoJKQCTJHU7PTY",
      "name": "viraj-n8n"
    }
  ]
}